@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
}

*:focus {
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
}

@layer components {
  .header_title {
    @apply text-custom_green text-4xl font-bold;
  }

  .table__head {
    @apply font-medium text-left text-white  pr-8 py-2 pl-4  whitespace-nowrap;
  }

  .table__td {
    @apply font-medium text-left  pr-8 py-5 pl-4 text-black;
  }

  .pagination_button {
    @apply flex w-9 h-9 items-center justify-center cursor-pointer rounded-full m-1 border-2 border-white  text-custom_green hover:text-custom_green hover:border-custom_green;
  }
  .pagination_selected {
    @apply flex w-9 h-9 items-center justify-center cursor-pointer rounded-full bg-custom_green m-1 border-2 border-custom_green  text-white;
  }

  .modal_bg {
    @apply fixed bg-modalBgColor flex flex-col z-[102]  w-full h-full top-0 right-0;
  }
  .modal_container {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 overflow-y-auto   transition-all  ease-in  flex-grow duration-[1000]
   flex-col py-2 rounded-lg bg-[#fff] hidden lg:flex;
  }
  .modal_mobile {
    @apply translate-y-0 transform transition-all duration-500 flex lg:hidden overflow-y-auto     w-full min-h-full bg-white fixed left-0 top-0 bottom-0     z-[103];
  }
  .modal_closeIcon {
    @apply w-5 h-5 text-black cursor-pointer flex-shrink-0;
  }

  .modal_title {
    @apply text-black font-bold text-sm;
  }
}
